html,
body,
#app {
  height: 100%;
}

#app {
  min-width: var(--layout-min-width);
}

body {
  @include typo(
    $color: var(--color-gray-800),
    $line-height: 1.2,
    $font-family: var(--font-pretendard)
  );
 
  background-color: var(--color-gray-100);
  word-break: keep-all;
  box-sizing: border-box;
  
}

.layout {
  @apply flex flex-col;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.containers {
  @apply flex flex-col;
  overflow-y: auto;
  margin-top: var(--header-height);
  height: calc(100% - var(--header-height));
}
.content {
  @apply flex-1;
  padding: 40px;

  // > div {
  //   // @apply flex flex-col;
  //   overflow-y: auto;
  //   width: 100%;
  //   height: 100%;
  // }
}
