.project {
  @apply flex flex-col;
  overflow: hidden;
  height: 100%;

  &-card {
    position: relative;
    width: 100%;
    padding: 30px;
    background: $white;
    border-radius: 10px;

    & + .project-card {
      margin-top: 20px;
    }

    &__desc {
      @include font($font-size: 15);
      margin-bottom: 15px;
      color: $gray-300;
    }

    &__info {
      @apply flex flex-col;
      overflow: hidden;
      margin-right: 20px;

      li {
        @apply flex;

        & + li {
          margin-top: 10px;
        }
        & > div {
          @apply flex items-center truncate;
          width: 50%;
          p {
            @apply inline-block truncate;
            @include font($font-size: 15);
          }

          & + div {
            margin-left: 50px;
          }
        }
      }
    }

    &__label {
      @include font($font-size: 14);
      @include after(1, 14) {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: $gray-80;
      }
      min-width: 77px;
      margin-right: 15px;
      color: $gray-300;
      & + p {
        @apply inline-block truncate;
        @include font($font-size: 15);
      }
    }

    &__box {
      @apply flex items-center;
      min-width: 100px;
      padding: 6px 15px;
      background: $purple-3;
      color: $gray-300;
      em {
        @include font($font-size: 22, $font-weight: 600, $line-height: 26px);
        margin-left: 10px;
        margin-right: 4px;
        color: $gray-400;
      }
      > span:last-child {
        @apply flex items-center;
      }
      & + .project-card__box {
        margin-left: 10px;
      }
      &-wrap {
        @apply flex;
        position: absolute;
        top: 30px;
        right: 30px;
      }
    }
  }
  &-detail {
    &__cont {
      & + .project-detail__cont {
        margin-top: 40px;
      }
      h3 {
        @include font($font-size: 20, $font-weight: 600);
        min-width: 300px;
      }
      h4 {
        @include font($font-size: 15, $font-weight: 500);
      }
    }
    &__box {
      @apply flex-1;
      position: relative;
      padding: 30px;
      margin-top: 20px;
      background: $gray-30;
      border-radius: 6px;
      &-btn {
        @apply flex items-center justify-center;
        width: 110px;
        button {
          & + button {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .btn__deploy {
    @include btn-size('sm');
    margin-right: 10px;
    background: $error;
    border-radius: 2px;
    color: $white;
    &--green {
      @extend .btn__deploy;
      background:#10BB73;
    }
  }
}
.project-deploy-popup {
  p {
    color: $gray-300;
  }
  &__form {
    @apply flex items-center justify-between;
    @include font($font-size: 15);
    height: 60px;
    padding: 0 20px;
    border: 1px solid $gray-80;
    span {
      @apply flex-1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 1440px) {
  .project {
    .mgmt {
      &__title-desc {
        + div {
          @apply flex-wrap;
        }
      }
    }
    &-card {
      &__info {
        width: calc(100% - 230px);
      }
      &-right:has(.btn__secondary--sm) {
        .project-card__box-wrap {
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &__box {
        @apply flex-col justify-between;
        align-items: unset;
        height: 69px;
        padding: 10px;
        em {
          margin-left: 0;
        }
        > span:last-child {
          @apply items-end justify-end;
        }
        &__btns {
          margin-top: 30px;
        }
      }
    }
  }
}
.agree-popup {
  p {margin-bottom: 10px;}
  color: $gray-330;
}