// 임시
.datepicker {
  @apply flex items-center;
  @include space(10px);
  & {
    width: 100%;
  }
  &__btns {
    button {
      @include typo($color:var(--color-gray-800));
      width: 94px;
      height: var(--form-height-md);
      padding: 10px 16px;
      background-color: var(--color-white);
      border: 1px solid #e3e3e3;
      box-sizing: border-box;
      transition: var(--transition);
      & + button {
        border-left: 0;
      }
      &:first-child {
        border-radius: var(--radius-md) 0 0 var(--radius-md);
      }
      &:last-child {
        border-radius: 0 var(--radius-md) var(--radius-md) 0;
      }
      &.is-selected {
        border: 1px solid var(--color-gray-800);
      }
    }
  }
  .dp__main {
    @apply flex-1;
  }
}