.form {
  @include before(100%,1px) {
    top: 0;
    left: 0;
    background-color: var(--color-gray-600);
  }
  @include after(1px,100%) {
    top: 0;
    left: 0;
    background-color: var(--color-white);
  }
  &__item {
    @apply flex items-center;
    @include typo(var(--font-size-15),$color: var(--color-gray-600));
    border-bottom: 1px solid var(--color-gray-200);

    .custom-input {
      max-width: 343px;
    }
    .el-select {
      max-width: 259px;
    }
  }

  &__label {
    @apply flex items-center;
    @include typo(var(--font-size-15),500,var(--color-gray-800));
    min-width: 200px;
    padding: 20px 16px;
    height: 60px;
    background-color: var(--color-primary-200);
    border-left: 1px solid var(--color-gray-200);
    border-right: 1px solid var(--color-gray-200);
    & + * {
      @include space(10px);
      & {
        padding: 0 16px;
      }
    }
//   &.is-required {
//     @include after {
//       @include typo(var(--font-size-15), 500, var(--color-red), var(--form-height-md));
//       content: '*';
//       padding-left: 2px;
//       padding-right: 2px;
//     }
//   }
  }
}

.search-form {
  @apply flex justify-between;
  padding: 20px 30px;
  margin-bottom: 30px;
  background-color: var(--color-primary-200);
  border-radius: var(--radius-xl);

  &__item-area {
    @apply flex flex-1;
    @include space(40px);
  }
  &__btn-area {
    @include before(1px,100%) {
      top: 50%;
      left: 0;
      background-color: var(--color-primary-300);
      transform: translateY(-50%);
    }
    padding-left: 40px;
    margin-left: 40px;
  }

  &__item {
    @apply flex items-center flex-1;
    @include space(19px);
    .el-select {
      max-width: 292px;
    }
  }
  &__label {
    @include typo($font-weight:500,$color:var(--color-gray-800),$line-height:var(--form-height-md));
    min-width: fit-content;
  }
}