// 팝업 오픈시 페이지 밀리는 이슈 해결을 위한 css
.el-popup-parent--hidden {
  width: initial !important;
}

// confirm,alert
.el-overlay-message-box {
  .el-message-box {
    @include typo(var(--font-size-16),$color:var(--color-gray-600));
    z-index: var(--z-index-popup);
    padding: 0;
    border-radius: var(--radius-lg);
    box-shadow: 0px 10px 16px 0px #0000001F;

    .el-message-box {
      padding-top: 20px;
      &__header {
        padding: 32px 20px 0;
      }
      &__header {
        & + .el-message-box__content {
          padding-top: 12px;
        }
      }
      &__title {
        @include typo(var(--font-size-20),700,var(--color-gray-800),24px);
        text-align: center;
      }
      &__content {
        @include typo($font-weight: 500);
        padding: 32px 20px 24px;
      }
      &__btns {
        @apply justify-center;
        @include space(8px);
        & {
          padding: 0 20px 20px;
        }
        button {
          &:nth-child(1) {
            @include btn-base($type: 'line', $color: 'negative');
            @include btn-size($size: 'sm');
          }
          &:nth-child(2) {
            @include btn-base($type: 'full', $color: 'primary');
            @include btn-size($size: 'sm');
          }
        }
      }
    }
  }
}

// popup
.el-overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.el-overlay-dialog {
  .el-dialog {
    @apply flex flex-col;
    z-index: var(--z-index-popup);
    padding: 0;
    border-radius: var(--radius-lg);

    &__header {
      @apply flex items-center justify-center;
      @include typo(var(--font-size-24), 600, var(--color-gray-800), 24px);
      position: relative;
      min-height: 70px;
      padding: 16px 20px 14px;
      border-bottom: 1px solid var(--color-gray-200);
      &.show-close {
        padding-right: 70px;
        padding-left: 70px;
      }

      h2 {
        @include truncate;
      }
      
      &btn {
        @include icon(close__line--181);
        top: 50%;
        right: 20px;
        width: 40px;
        height: 40px;
        transform: translateY(-50%);
        .el-icon {
          display: none;
        }
      }
    }

    &__body {
      @apply flex flex-col flex-1;
      @include typo(var(--font-size-15),500,var(--color-gray-800),22px);
      overflow-y: auto;
      min-height: 200px;
      max-height: 600px;
      padding: 32px 30px 0;
      overscroll-behavior: none;
    }
    &__footer {
      @apply flex items-center justify-center;
      padding: 30px;
    }
  }

  .detail-popup {
    .el-dialog {
      &__header {
        @apply flex-col items-start;
        padding: 40px 0 10px;
        margin: 0 40px;
        h2 {
          @include typo(var(--font-size-20),600,var(--color-gray-800),24px);
          white-space: wrap;
          word-break: break-all;
        }
        p {
          @include typo(var(--font-size-15),$color:var(--color-gray-600),$line-height:18px);
          margin-top: 10px;
        }
      }
      &__body {
        @include typo(var(--font-size-15),$color: var(--color-gray-600),$line-height:22px);
        padding: 30px 40px 0;
      }
    }
  }
}

// 페이지 단에서 사용하는 스타일
