.el-tabs {
  height: 100%;
  .el-tab-pane {
    @apply flex flex-col;
    height: 100%;
  }
  .el-tabs {
    &__header {
      margin: 0 0 40px;
    }
    &__nav-wrap {
      @include after($h: 1px) {
        background-color: var(--color-gray-200);
      }
    }
    &__active-bar {
      background-color: var(--color-primary-700);
      &::after {
        content: '';
        position: absolute;
        left: -20px;
        width: calc(100% + 40px);
        height: 2px;
        background-color: var(--color-primary-800);
      }
    }
    &__item {
      @include typo(var(--font-size-16),500, var(--color-gray-500));
      height: 45px;
      padding: 12px 20px !important;
      &:hover {
        color: var(--color-gray-500);
      }
      &.is-active {
        @include typo(var(--font-size-16), 600, $color: var(--color-primary-700));
      }
    }
  }
}