.el-tabs {
  .el-tabs {
    &__header {
      margin: 0 0 24px;
    }
    &__nav-wrap {
      @include after($h: 1px) {
        background-color: var(--color-gray-150);
      }
    }
    &__active-bar {
      background-color: var(--color-primary-800);
      &::after {
        content: '';
        position: absolute;
        left: -20px;
        width: calc(100% + 40px);
        height: 2px;
        background-color: var(--color-primary-800);
      }
    }
    &__item {
      @include typo(var(--font-size-16),500, var(--color-gray-500));
      height: 43px;
      padding: 0 30px !important;
      &:hover {
        color: var(--color-gray-500);
      }
      &.is-active {
        @include typo(var(--font-size-16), 600, $color: var(--color-primary-800));
      }
    }
  }
}