.form {
  @apply flex;

  &+& {
    margin-top: 20px;
  }

  &__label {
    @include font($font-size: 15, $font-weight: 500, $line-height: 36px);
    position: relative;
    min-width: 140px;
    margin-right: 20px;
    color: $gray-400;
    align-self: normal;

    &--required {
      @extend .form__label;

      &::after {
        content: '*';
        position: absolute;
        padding-left: 2px;
        padding-right: 2px;
        color: $error;
      }
    }

    &:has(.tooltip) {
      .tooltip {
        position: absolute;
        top: 8px;
        margin-left: 5px;
      }
    }

    & + div {
      &:has(.el-table) {
        width: calc(100% - 140px);
      }
    }
  }

  &__box {
    @apply flex-1;
    padding: 30px;
    background: $gray-30;
    border-radius: 6px;

    &-btns {
      @apply flex items-center;
      width: 74px;
      margin-left: 20px;
      button {
        & + button {
          margin-left: 10px;
        }
      }
    }
  }

  &__upload {
    @apply flex flex-col items-center justify-center;
    width: 100%;
    padding: 25px 0;
    background: $white;
    border: 1px solid $gray-90;
    border-radius: 2px;
    color: $gray-300;
    &--file {
    margin-top: 15px;
    }
    &--info {
    margin-top: 15px;
    color: $orange-30;
    }
    .drop-area__upload {
      margin-bottom: 5px
    }
  }
  &__search {
    @apply flex justify-between;
    padding: 20px 30px;
    margin-top: 30px;
    background: $white;
    border-radius: 10px;

    .form__label {
      @include font($font-size: 14, $font-weight: 500, $line-height: 36px);
      min-width: fit-content;
    }

    .form {
      &+.form {
        margin-top: 0;
        margin-left: 40px;
      }
    }
    .el-select {
      width: 167px;
    }
  }

  &__link {
    text-decoration: underline;
  }
}

.popup-form {
  @apply flex;

  .form__label {
    @include font($font-weight: 500);
    width: 100px;
    min-width: 100px;
    margin-right: 10px;
    color: $gray-400;

    &+div {
      @include font($line-height:36px);
    }
  }

  &+& {
    margin-top: 10px;
  }
}

/* ========================== Input ========================== */
.custom-input {
  input {
    width: 100%;
    height: $input-size;
    padding: 13px 15px;
    background: $white;
    border: 1px solid $input-border-color;
    border-radius: $input-radius;
    color: $input-color;
    transition: $transition;

    &:focus:not(:read-only) {
      border-color: $input-focus-border-color;
    }

    &::placeholder {
      color: $input-placeholder-color;
    }

    &.custom-input__error {
      border-color: $error;
      &:focus {
        border-color: $error;
      }
    }

    &:read-only {
      background: $input-readonly-bg-color;
      cursor: default;
    }

    &:disabled {
      border-color: $input-disabled-border-color;
      color: $input-placeholder-color;
      cursor: not-allowed;
    }
  }

  &__wrap {
    position: relative;

    &:has(button) {
      input {
        padding: 13px 35px 13px 15px;
      }
    }

    &:has(span > img) {
      input {
        padding-left: 31px;
      }

      span {
        position: absolute;
        top: 50%;
        transform: translate(10px, -50%);
      }
    }
  }

  &__reset {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 16px;
    transform: translateY(-50%);
  }

  &__valid {
    @apply flex items-center;
    @include font($line-height: 24px);
    color: $error;
  }

  &[size="sm"] {
    @include input-size($size: 'sm');
  }

  &[size="lg"] {
    @include input-size($size: 'lg');
  }

  // FIXME :: 임시
  &:has(.el-tag) {
    input {
      margin-bottom: 5px;
    }
  }
  .el-tag {
    padding: 0 10px;
    background-color: $purple-5;
    border:0;
    border-radius: 30px;
    color: $purple-120;
    &__content {
      @include font($font-size:12, $font-weight:500);
    }
    &.is-closable {
      padding-right: 0;
      margin-right: 10px;
      margin-top: 5px;
    }
    &__close {
      margin-right: 6px;
      color: unset !important;
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}

/* ========================== Textarea ========================== */
.custom-textarea {
  textarea {
    @include font($line-height: 1.3);
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: $white;
    border: 1px solid $input-border-color;
    border-radius: $input-radius;
    color: $input-color;
    transition: $transition;
    resize: none;

    &:focus:not(:read-only) {
      border-color: $input-focus-border-color;
    }

    &::placeholder {
      color: $input-placeholder-color;
    }

    &.custom-textarea__error {
      border-color: $error;
      &:focus {
        border-color: $error;
      }
    }

    &:read-only {
      background-color: $input-readonly-bg-color;
      cursor: default;
    }

    &:disabled {
      border-color: $input-disabled-border-color;
      color: $input-placeholder-color;
      cursor: not-allowed;
    }
  }

  &__wrap {
    @apply flex flex-col;
  }

  &__valid {
    @apply flex items-center;
    @include font($line-height: 24px);
    color: $error;
  }
}

// highlightText
.highlight-textarea {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 15px;
  border: 1px solid $input-border-color;
  border-radius: $input-radius;
  background: $white;
  &.is-disabled {
    background: $input-disabled-bg-color;
    border-color: $input-disabled-border-color;
    color: $input-placeholder-color;
    cursor: not-allowed;
    textarea {
      pointer-events: none;
      cursor: not-allowed;
    }
  }
  &[readonly] {
    background: $input-readonly-bg-color;
    cursor: default;
    textarea {
      pointer-events: none;
    }
  }

  textarea {
    z-index: 1;
    position: absolute;
    padding: 0;
    border: none;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background-color: transparent;
    color: transparent;
    caret-color: black;
    resize: none;
    line-height: normal;
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }

  &__wrap {
    overflow-wrap: anywhere;
    position: absolute;
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    white-space: pre-wrap;
    line-height: normal;
  }

  &__light {
    color: $pink-50;
  }
}



/* ========================== Select ========================== */
.el-select {
  height: $input-size;
  
  .el-select {
    &__wrapper {
      height: 100%;
      padding: 6px 10px 6px 15px;
      border: 1px solid $input-border-color;
      border-radius: $input-radius;
      box-shadow: none !important;

      &.is-focused {
        border: 1px solid $input-focus-border-color;
      }

      &.is-disabled {
        border: 1px solid $input-disabled-border-color;
        background: $input-disabled-bg-color;

        .el-select__selected-item {
          color: $input-placeholder-color;
        }

        .el-select__suffix {
          @include icon($name: arrow__down--999);
        }
      }

      .el-select__suffix {
        width: 16px;
        @include icon($name: arrow__down--333);

        .el-icon {
          svg {
            display: none;
          }

          &.is-reverse {
            transform: none;
          }
        }
      }
    }

    &__selected-item {
      color: $gray-400;

      .el-tag {
        @include font($font-size: 13);
        padding: 0 4px 0 8px;
        background: $purple-50;
        border-radius: 24px;
        color: $white;

        &__close {
          @include icon($name: close__line--fff);
          width: 16px;
          margin-left: 10px;

          svg {
            display: none;
          }

          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    &__placeholder {
      &.is-transparent {
        color: $input-placeholder-color;
      }
    }
  }

  &.el-select--purple {
    .el-select__wrapper {
      background: #E2E1FF;
      ;
      border: 1px solid #9997D7;
    }
  }
  &.el-select--pink {
    .el-select__wrapper {
      background: #FFE4F3;
      border: 1px solid #D9B4C8;
    }
  }
  &.el-select--green {
    .el-select__wrapper {
      background: #CAF9CF;
      border: 1px solid #70CA79;
    }
  }
  &[readonly] {
    pointer-events: none;

    .el-select__wrapper {
      background: $input-readonly-bg-color;

      .el-select__suffix {
        @include icon($name: arrow__down--999);
      }
    }
  }

  &.el-select__reset {
    .el-select__wrapper {
      &.is-hovering {
        .el-select__suffix {
          .el-icon {
            @include icon($name: delete__circle--eae);
            right: 22px;
            width: 16px;
          }
        }
      }
    }
  }

  // size
  &.el-select--sm,
  &.el-select--lg {
    .el-select__wrapper {
      @include font($font-size: 14);
      padding: 6px 10px 6px 15px;
    }
  }

  &.el-select--sm {
    height: $input-size-sm;
  }

  &.el-select--lg {
    height: $input-size-lg;
  }

  $widthList: 200,250;
  @each $width in $widthList {
    &.input--#{$width} {
      width: #{$width}px;
    }
  }
}

// el-select dropdown
.el-select__popper {
  &.el-popper {
    &.is-pure {
      margin-top: -9px;
      border: 1px solid $gray-80;
      box-shadow: 3px 4px 6px 0px rgba(0, 0, 0, 0.1);

      .el-select-dropdown {
        border-radius: 2px;

        &__list {
          padding: 0;
        }

        &__item {
          @include font($line-height: 40px);
          height: 40px;
          padding: 0 13px;
          color: $gray-330;

          .el-checkbox {
            vertical-align: middle;

            &__label {
              @include font($font-weight: 400);
              color: $gray-330 !important;
            }
          }

          &.is-hovering {
            background: $purple-5;
          }

          &.is-disabled {
            color: $gray-180;
          }

          &.is-selected {
            &::after {
              content: none;
            }
          }
        }

      }

      .el-popper__arrow {
        display: none;
      }
    }
  }
}

/* ========================== Checkbox ========================== */
.el-checkbox {
  width: 20px;
  height: unset !important;

  &-group {
    width: 20px;
  }

  .el-checkbox__input {
    .el-checkbox__inner {
      width: 20px;
      height: 20px;
      border-color: $gray-80;

      &:hover {
        border-color: $gray-80;
      }
    }

    &.is-checked {
      .el-checkbox__inner {
        background: $purple-50;
        border-color: $purple-50;

        &::after {
          left: 7px;
          height: 10px;
          width: 4px;
          border-width: 2px;
        }
      }
    }

    &.is-disabled {
      .el-checkbox__inner {
        background: $gray-30;
        border-color: $gray-80;

        &::after {
          border-color: $gray-80 !important;
        }
      }
    }
  }

  .el-checkbox__label {
    @include font($font-weight: 500);
    padding-left: 10px;
    color: $gray-400 !important;

    em {
      @include font($font-weight: 400);
      color: $gray-300;
    }
  }
}

/* ========================== el-radio ========================== */
.selector-only {
  .el-radio {
    .el-radio__label {
      padding-left: 0;
    }
  }
}

.el-radio {
  margin-right: 20px;

  .el-radio__input {
    .el-radio__inner {
      width: 20px;
      height: 20px;
      border-color: $gray-80;
    }

    &.is-checked {
      .el-radio__inner {
        background: $white;
        border-color: $purple-50;

        &:after {
          width: 9px;
          height: 9px;
          background-color: $purple-50;
        }
      }
    }
  }

  .el-radio__label {
    color: $gray-400;

    // padding-left:0;
    em {
      @include font($font-weight: 400);
      color: $gray-300;
    }
  }

  &.is-checked {
    &.el-radio {
      .el-radio__label {
        color: $gray-400;
      }
    }
  }

  &.is-disabled {
    .el-radio__input {
      cursor: not-allowed;

      .el-radio__inner {
        background: $gray-30;
        border-color: $gray-45;

        &:after {
          background: $gray-45;

        }
      }

      &+.el-radio__label {
        color: $gray-400;
      }
    }
  }
}

/* ========================== el-switch ========================== */
// .el-switch {
//   &.is-checked {
//     .el-switch__input {
//       & + .el-switch__core {
//         background:#10BB73;
//         border-color: #10BB73;
//       }
//     }
//   }
//     .el-switch__input {
//       & + .el-switch__core {
//         width: 49px;
//         height: 21px;
//         background: $gray-130;
//         border-color: $gray-130;
//         border-radius: 14px;
//         .el-switch__inner {
//           span {
//             @include font($font-size:10);
//           }
//         }
//         .el-switch__action {
//           left: 3px;
//           width: 15px;
//           height: 15px;
//         }
//       }
//     }
// }

@media screen and (max-width: 1440px) {
  .form__search { 
    .form {
      &+.form {
        margin-left: 20px;
      }
    }
    .el-select {
      width: 140px;
    }
  }
}