.mgmt {
  &__title {
    @include font($font-size:36, $font-weight:700);
    color: $gray-430;

    &--sm {
      @include font($font-size:24, $font-weight:600);
    }

    &-desc {
      @include font($font-size: 15);
      margin-top: 5px;
      color: $gray-300;
    }
    &-info {
      @include font($font-size:16);
    }
  }
  &__box {
    width: 100%;
    padding: 40px;
    margin-top: 31px;
    background: $white;
    border-radius: 20px;

    &:has(.total) {
      &:has(button) {
        padding-top: 30px;
      }
    }
    
    &--sm {
      width: 100%;
      padding: 30px;
      border-radius: 20px;
      background: $white;
    }
  }
  &__btn {
    @apply flex items-center justify-center;
    margin-top: 30px;
  }
}