/* ========================== prefix ========================== */
$prefix-list: webkit, moz, ms, o;

@mixin auto-prefix($name, $value){
    @each $prefix in $prefix-list {
        -#{$prefix}-#{$name}: $value;
    } 
    #{$name}: $value;
}

/* ========================== Icon ========================== */
@mixin icon($name, $size: '100%', $path: '/icon/', $format: 'svg') { 
  background: url('#{$path}#{$name}.#{$format}') no-repeat center center/#{$size};
}

/* ========================== Font ========================== */
@mixin font($font-size:null, $line-height: null, $font-weight: normal, $font-family: null) {
  font-size: if($font-size==null, 14px, $font-size * 1px);
  line-height: if($line-height==null, null, $line-height);
  font-weight: $font-weight;
  font-family: $font-family;
}

/* ========================== 가상선택자 ========================== */
@mixin before($w, $h) {
  position: relative;

  &::before {
      display: inline-block;
      position: absolute;
      content: '';
      width: $w * 1px;
      height: $h * 1px;
      @content;
  }
}
@mixin after($w, $h) {
  position: relative;

  &::after {
      display: inline-block;
      position: absolute;
      content: '';
      width: $w * 1px;
      height: $h * 1px;
      @content;
  }
}

/* ========================== button ========================== */
@mixin btn($type: 'positive', $form: 'full', $color: 'primary') {
  @apply flex items-center justify-center;
  border-radius: 2px;
  border: 1px solid transparent;
  transition: $transition;
  white-space: nowrap;

  @if $type == 'positive' and $form == 'full' {
    background-color: if($color == 'primary', $purple-50, $purple-250);
    border-color: if($color == 'primary', $purple-50, $purple-250);
    color: $white;
    
    &:hover:not(:disabled) {
      background-color: if($color == 'primary', $purple-120, $purple-300);
      border-color: if($color == 'primary', $purple-120, $purple-300);
      color: $white;
    }
  } @else if $type == 'positive' and $form == 'line' {
    background-color: $white;
    border-color: if($color == 'primary', $purple-50, $purple-250);
    color: if($color == 'primary', $purple-50, $purple-250);
    
    &:hover:not(:disabled) {
      border-color: if($color == 'primary', $purple-120, $purple-300);
      color: if($color == 'primary', $purple-120, $purple-300);
      svg {
        * {
          transition: $transition;
          stroke: if($color == 'primary', $purple-120, $purple-300);
        }
      }
    }
  } @else if $type == 'negative' and $form == 'full' {
    background-color: $purple-230;
    color: $white;
    
    &:hover:not(:disabled) {
      background-color:$purple-280;
      border-color: $purple-280;
      color: $white;
    }
  } @else if $type == 'negative' and $form == 'line' {
    background-color: $white;
    border-color: $purple-230;
    color: $purple-230;
    
    &:hover:not(:disabled) {
      background-color:$white;
      border-color: $purple-280;
      color: $purple-280;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  } 

  & + button {
    margin-left: 10px;
  }
}

@mixin btn-size($size: 'md') {
  @if $size == 'sm' {
    min-width: 65px;
    height: 32px ;
    line-height: 32px ;
    padding: 0 15px;
  } @else if $size == 'md' {
    min-width: 65px;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
  } @else if $size == 'lg' {
    min-width: 70px;
    height: 40px; 
    line-height: 40px; 
    padding: 0 20px;
  }
  // 아이콘 버튼인 경우
  &:has(img) {
    padding: 0 10px;
    @if $size == 'sm' {
      min-width: 75px;
    } @else if $size == 'md' {
      min-width: 80px;
    } @else if $size == 'lg' {
      min-width: 85px;
    }
  }
}

/* ========================== Form ========================== */
@mixin input-size($size: $input-size) {
  input {
    @if $size == 'sm' {
      height: $input-size-sm;
    }
    @else if $size == 'lg' {
      height: $input-size-lg;
    }
  }

}