// purple
$purple-1: #F7F3FC;
$purple-3:#F7F0FF;
$purple-5:#F0E4FF;
$purple-8: #b840fc;
$purple-50:#9e4eff;
$purple-120:#6724B8;
$purple-200:#8D76A8;
$purple-230:#A3A1B4;
$purple-250:#776CBF;
$purple-280:#797498;
$purple-300:#5F559B;


// pink
$pink-50:#ff19f5;

// orange
$orange-30:#FF7E35;

// green
$green-70:#2FCEA8;

// gray
$gray-5:#f8f8f8;
$gray-10:#f1f1f1;
$gray-20: #f4f4f4;
$gray-25: #f5f4f6;
$gray-30: #f7f7f7;
$gray-35:#f6f6f6;
$gray-38: #efefef;
$gray-40: #eeeeee;
$gray-45: #eaeaea;
$gray-46: #e0e0e0;
$gray-47: #e2e2e2;
$gray-50:#e5e5e5;
$gray-60: #D5D5D5;
$gray-70: #d3d3d3;
$gray-75: #d2d2d2;
$gray-80: #dddddd;
$gray-90: #c7c7c7;
$gray-130:#bbbbbb;
$gray-140: #b5b5b5;
$gray-180:#999999;
$gray-220:#959595;
$gray-240: #888888;
$gray-300:#666666;
$gray-330: #555555;
$gray-400:#333333;
$gray-430: #222222;

$white: #ffffff;
$black: #000000;
$error: #FE3737;
$link:#0D6EE0;

// Form
$input-size-sm: 32px;
$input-size: 36px;
$input-size-lg: 40px;

$input-color: $gray-330;
$input-radius: 2px;
$input-border-color: $gray-90;
$input-placeholder-color: $gray-180;
$input-focus-border-color: $gray-400;
$input-disabled-border-color: $gray-45;
$input-disabled-bg-color: $gray-30;
$input-readonly-bg-color: $gray-30;

//Layout 
$header-height: 90px;
$mgmt-header-height: 70px;
$sidebar-width: 280px;
$scrollbar-width: 20px;

// ETC
$transition: all 0.2s linear;
$font-family: 'Pretendard',-apple-system,system-ui,Roboto,'Apple SD Gothic Neo','Malgun Gothic',sans-serif;
$font-family-nanum: 'NanumSquareRound',-apple-system,system-ui,Roboto,'Apple SD Gothic Neo','Malgun Gothic',sans-serif;