@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============= Font ============= */
@font-face {
  font-family: "Pretendard";
  src: url("/font/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/font/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/font/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/font/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/font/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/font/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("/font/NanumSquareRoundL.woff") format("woff"); 
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("/font/NanumSquareRoundR.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("/font/NanumSquareRoundB.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("/font/NanumSquareRoundEB.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

// /* ============= Style Reset ============= */
*,
:after,
:before {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
em,
img,
ul,
li,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
menu,
nav,
section {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
footer,
header,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  border: 0;
  user-select: none;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  font: inherit;
  font-family: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

em {
  font-style: normal;
}

button {
  overflow: visible;

  &:disabled {
    cursor: not-allowed;
  }

  &:has(img) {
    min-width: fit-content;
  }
}

button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  text-transform: none;
}

textarea {
  overflow: auto;
}

input {
  line-height: normal;
  border: 0;

  &[type='checkbox'],
  &[type='radio'] {
    box-sizing: border-box;
    padding: 0;
  }

  &[type='number'] {

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  &:invalid {
    border-color: $error;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* ============= Layout ============= */
html,
body,
#app {
  height: 100%;
}

#app {
  min-width: 1280px;
}

body {
  @include font($font-size: 14, $line-height: 1.2);
  overflow-x: auto;
  font-family: $font-family;
  color: $gray-400;
}

.copyright {
  color: $gray-220;
  text-align: center;
  em {
    @include font($font-weight:700);
    color: $gray-330;
  }
}

/* ============= user-Layout ============= */
.user {
  &-layout {
    @apply flex flex-col;
    height: 100%;
  } 
  &__content {
    height: calc(100% - $header-height);
  }
}

.user-menu {
  &-layout {
    @apply flex flex-col;
    height: 100%;
  } 
  &__container {
    @apply flex;
    height: calc(100% - $header-height);
    padding: 30px;
    background: $gray-35;

    &-wrap {
      @apply flex flex-col justify-between;
      width: calc(100% - $sidebar-width);
      height: 100%;
      padding: 40px (40px - $scrollbar-width) 40px 40px;
      margin-left: 30px;
      background: $white;
      border-radius: 20px;
    }
  }
  &__content {
    overflow-y: auto;
    height: 100%;
    padding-right: $scrollbar-width;
    margin-bottom: 20px;
  }
}

.chat {
  &-layout {
    @apply flex flex-col;
    height: 100%;
  }
  &__content {
    height: calc(100% - $mgmt-header-height);
    & > div {
      @apply flex;
      height: 100%;
    }
  }
}
/* ============= mgmt-Layout ============= */
.mgmt {
  &-layout {
    @apply flex;
    width: 100%;
    height: 100%;
  }
  &__container {
    @apply flex flex-col;
    height: 100%;
    width: calc(100% - $sidebar-width);
    background: $gray-35;
  }
  &__content {
    overflow-y: auto;
    height: calc(100% - $mgmt-header-height);
    padding: 30px 60px;
  }
}

/* ============= ScrollBar ============= */
* {
  &::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  &::-webkit-scrollbar-thumb {
    border: 7px solid transparent;
    background-clip: padding-box;
    background-color: $gray-130;
    border-radius: 12px;
  }
}