#nprogress .spinner {
  display: none;
}
#nprogress .bar {
  height: 5px;
  background-color: $purple-50;
}
/* ========================== Confirm ========================== */
// 팝업 오픈시 페이지 밀리는 이슈 해결을 위한 css
.el-popup-parent--hidden {
  width: initial !important;
}

.el-overlay-message-box {
  .el-message-box {
    max-width: 258px;
    padding: 0;
    border-radius: 2px;
    .el-message-box {
      &__header {
        padding: 28px 52px 8px 20px;
      }
      &__headerbtn {
        width: 20px;
        height: 20px;
        top: 16px;
        right: 16px;
      }
      &__close {
        @include icon($name: close__line--121);
        width: 100%;
        height: 100%;
        svg {
          display: none;
        }
      }
      &__title {
        @include font($font-size: 16, $font-weight: 600);
      }
      &__content {
        @include font($font-weight: 500, $font-size: 14);
        padding: 0 20px 24px;
      }
      &__message {
        p {
          white-space: pre-wrap;
          &:nth-child(1) {
            @include font($line-height: 20px);
            color: $gray-400;
          }
          &:nth-child(2) {
            @include font($font-size: 13, $line-height: 20px);
            margin-top: 8px;
            color: $gray-240;
          }
        }
      }
      &__btns {
        padding-top: 0;
        border-top: 1px solid $gray-47;
        button {
          @apply flex-1;
          @include font($font-weight: 400);
          height: 49px;
          margin: 0;
          padding: 17px 46px;
          background: $white;
          border-radius: 0;
          border: 0;
          color: $gray-400;
          & + button {
            border-left: 1px solid $gray-47;
          }
          &:focus-visible {
            outline: none;
          }
        }
      }
    }
    &--center {
      .el-message-box {
        &__content {
          padding-top: 28px !important;
          text-align: center;
        }
      }
    }
  }
}

/* ========================== Modal ========================== */
.el-overlay {
  background-color: rgba(0, 0, 0, 0.67) !important;
}
.el-overlay-dialog {
  min-width: 1100px;
  .el-dialog {
    padding: 0;
    border-radius: 20px;
    &__title {
      @apply flex justify-center;
      @include font($font-size: 24, $line-height: 29px, $font-weight: 600);
      color: $gray-430;
    }
    &__header {
      position: relative;
      padding: 20px;
      border-bottom: 1px solid $gray-80;
      h1 {
        @include font($font-size: 24, $line-height: 29px, $font-weight: 600);
        text-align: center;
        color: $gray-430;
      }
    }
    &__headerbtn {
      top: 50%;
      right: 20px;
      width: 40px;
      height: 40px;
      transform: translateY(-50%);
      font-size: unset;
      &:hover,
      &:focus {
        .el-dialog__close {
          color: $gray-430;
        }
      }
      .el-dialog__close {
        @include font($font-size: 26);
        color: $gray-430;
      }
    }
    &__body {
      overflow-y: auto;
      max-height: 600px;
      // max-height: 665px;
      padding: 30px 30px 0;
      color: $gray-400;
    }
    &__footer {
      @apply flex items-center justify-center;
      padding: 20px 30px 30px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1440px) {
  .prompt-setting-popup {
    width: 1000px !important;
  }
}
/* ========================== Tooltip ========================== */
.el-popper[role="tooltip"] {
  &.is-dark {
    @include font($line-height: 16px);
    max-width: 246px;
    padding: 20px;
    background: $purple-3;
    border-color: $purple-5;
    color: $gray-400;
    .el-popper__arrow {
      &::before {
        background: $purple-3;
        border-color: $purple-5;
      }
    }
  }
}

/* ========================== Drag and drop(파일첨부) ========================== */
.el-upload {
  .el-upload-dragger {
    @apply flex flex-col items-center justify-center;
    height: 130px;
    border: 1px solid $gray-90 !important;
    border-radius: 2px;
    .el-upload__text {
      @apply flex flex-col items-center justify-center;
      @include font($font-size: 13, $line-height: 18px);
      color: $gray-300;
    }
  }
}

/* ========================== Chip ========================== */
.chip {
  @apply flex items-center justify-center;
  @include font($font-size: 12, $line-height: 24px, $font-weight: 500);
  min-width: 45px;
  height: 24px;
  padding: 0 10px;
  border-radius: 30px;
  box-sizing: border-box;
  white-space: nowrap;

  $colorList: (
    "green": (
      #caf9cf,
      #1e7d4b
    ),
    "pink": (
      #ffe4f3,
      #e152a1
    ),
    "blue": (
      #e2e1ff,
      #6764cd
    )
  );

  @each $color, $values in $colorList {
    $background-color: nth($values, 1);
    $text-color: nth($values, 2);

    &--#{$color} {
      @extend .chip;
      background: $background-color;
      color: $text-color;
    }
  }
}

/* ========================== Slider ========================== */
.el-slider {
  --el-slider-height: 5px !important;
  --el-slider-border-radius: 30px !important;
  --el-slider-button-size: 11px !important;
  height: 14px !important;

  .el-slider {
    &__runway {
      background-color: $gray-38;
      &.show-input {
        max-width: 500px;
      }
    }

    &__bar {
      background-color: $purple-50;
    }

    &__button {
      @apply block;
      border: 1.5px solid $purple-50;
      &-wrapper {
        top: 50%;
        z-index: initial;
        width: 11px;
        height: 11px;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__input {
    &.el-input-number {
      width: 70px !important;
      span[role="button"] {
        display: none;
      }

      .el-input {
        width: 70px;
        height: $input-size;
        &__wrapper {
          padding: 0 15px;
          border: 1px solid $input-border-color;
          border-radius: $input-radius;
          box-shadow: none;
          transition: $transition;
          &.is-focus {
            border-color: $input-focus-border-color;
            box-shadow: none;
          }
        }
      }
    }
  }

  &__form {
    & + .el-slider__form {
      margin-top: 20px;
    }
    &-wrap {
      padding: 20px;
      margin-top: 16px;
      background: $white;
      border: 1px solid $gray-80;
    }
  }
  &__label {
    @apply flex items-center justify-between;
    @include font($font-size: 15);
    input {
      min-width: 60px;
    }
  }
}

/* ========================== datepicker ========================== */
.datepicker {
  @apply flex;
  &__btns {
    @apply flex;
    button {
      @include btn-size($size: "md");
      min-width: 78px;
      height: $input-size;
      border: 1px solid $gray-47;
      transition: $transition;
      box-sizing: border-box;
      &:first-child {
        border-radius: 2px 0 0 2px;
      }
      &:last-child {
        border-radius: 0 2px 2px 0;
      }
      & + button {
        margin-left: 0;
        border-left: 0;
      }
      &.is-selected {
        border: 1px solid #121212;
        color: #121212;
      }
    }

    & + .dp__main {
      margin-left: 20px;
    }
  }
  .dp {
    &__main {
      min-width: 240px;
    }
    &__input {
      &_wrap {
        position: relative;
        > div {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 30px;
        }
      }
      width: 100%;
      height: $input-size;
      padding: 10px 40px 10px 15px;
      border-radius: $input-radius;
      border: 1px solid $input-border-color;
      color: $input-color;

      &::placeholder {
        color: $input-placeholder-color;
      }
      &:read-only {
        background: $input-readonly-bg-color;
      }
    }
    &__disabled {
      background: $input-disabled-bg-color;
      border-color: $input-disabled-border-color;
      color: $input-placeholder-color;
    }
    &__input_icon {
      @include icon($name: calendar__line--c7c);
      width: 16px;
      height: 16px;
      padding: 0;
      path {
        display: none;
      }
    }
    &__clear_icon {
      display: none;
    }
    //calendar
    &__menu {
      @include font($font-family: $font-family);
      min-width: 300px;
      border: 1px solid $gray-60;
      border-radius: 2px;
      .dp__arrow_top {
        display: none;
      }
      &_inner {
        padding: 0;
      }
    }
    &__month_year_wrap {
      @apply items-center;
      height: 40px;

      .dp__month_year_wrap {
        width: calc(100% - 80px);
        button {
          &:first-child {
            @apply flex justify-end;
            &::after {
              content: "년";
            }
          }
          &:last-child {
            @apply flex justify-start;
            padding-left: 10px;
          }
        }
      }
    }
    &__month_year_select {
      @include font($font-size: 15, $font-weight: 600);
      color: $gray-400;
      &:hover {
        background: transparent;
      }
    }
    &--arrow-btn-nav {
      @apply flex items-center justify-center;
      width: 40px;
      &:first-child {
        @include before($w: 32, $h: 32) {
          @include icon($name: arrow-l__line--555);
        }
      }
      &:last-child {
        @include before($w: 32, $h: 32) {
          @include icon($name: arrow-l__line--555);
          transform: rotate(-180deg);
        }
      }
      .dp__inner_nav {
        display: none;
      }
    }
    &__calendar {
      &_header {
        @include font($font-size: 10, $line-height: 25px, $font-weight: 600);
        color: $gray-330;
        &_item {
          height: 25px;
          padding: 0;
        }
        &_separator {
          display: none;
        }
      }
      &_row {
        margin: 0;
      }
      &_item {
        @apply flex items-center justify-center;
        width: 42px;
        height: 42px;
        color: $gray-330;
      }
    }
    &__cell {
      &_inner {
        @include font($font-size: 12, $font-weight: 500);
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 2px;
        color: $gray-180;
        transition: $transition;
        &.dp__date_hover:not(.dp__cell_disabled),
        &.dp__range_start,
        &.dp__range_between,
        &.dp__range_end {
          background: $purple-5;
          color: $purple-50;
        }
        &.dp__cell_disabled {
          &:hover {
            color: $gray-180;
            background: transparent;
          }
        }
        &.dp__today {
          border: 0;
        }
      }
    }
    &__overlay {
      &_cell {
        &:hover {
          background: $purple-5;
          color: $purple-50;
        }
      }
      &_cell_active {
        background: $purple-5;
        color: $purple-50;
      }
    }
    &__overlay_action {
      display: none !important;
    }
  }
}

/* ========================== page ========================== */
.title {
  @include font($font-size: 36, $font-weight: 600, $line-height:normal);
  margin-bottom: 60px;
  color: $gray-430;

  &__underline {
    @apply inline-block;
    @include font($font-size: 20, $font-weight: 600);
    position: relative;
    padding-left: 8px;

    &::before {
      z-index: 1;
      content: attr(title-text);
      position: absolute;
      left: 8px;
      bottom: 0;
      color: $gray-430;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100% + 20px);
      height: 10px;
      background-color: $purple-5;
    }
  }

  &--desc {
    @include font($font-size: 15);
    margin-top: 5px;
    color: $gray-300;
  }
}

/* ========================== info-box ========================== */
.info {
  @include font($font-size: 15);
  margin: 20px 0 50px;

  &-box {
    @apply flex flex-col;
    @include font($font-size: 15);
    padding: 20px 30px;
    margin-top: 25px;
    background: $gray-5;
    border: 1px solid $gray-80;
    border-radius: 10px;

    img {
      margin-right: 5px;
    }
  }
}

/* ========================== popover ========================== */
.el-popper {
  &.el-popover {
    &.sidebar__cont-menu--popover {
      padding: 15px 20px;
      border: 1px solid $gray-80;
      border-radius: 10px;
      box-shadow: none;
      .el-popper__arrow {
        display: none;
      }
    }
  }
}

/* ========================== collapse ========================== */
.el-collapse {
  position: relative;
  width: 100%;
  border-top: none;
  border-bottom: none;
  .el-collapse {
    &-item {
      &__header {
        @apply flex justify-between truncate;
        @include font($font-size: 15, $font-weight: 400);
        height: $input-size-lg;
        padding: 0 20px;
        background: $purple-1;
        border-bottom: none;
        color: $gray-400;

        .el-icon {
          @include icon($name: arrow-t__line--555);
          min-width: 15px;
          margin: 0 0 0 10px;
          transform: rotate(180deg);

          svg {
            display: none;
          }

          &.is-active {
            transform: rotate(360deg);
          }
        }
      }

      &__wrap {
        z-index: 1;
        position: absolute;
        top: $input-size-lg;
        width: 100%;
        padding: 16px 20px;
        background: $purple-1;
        border-bottom: none;
        box-shadow: 3px 6px 6px 0px rgba($black, 0.07);
      }

      &__content {
        width: 100%;
        height: 100%;
        padding: 20px;
        background: $white;
        border: 1px solid $gray-80;
        border-radius: 2px;
      }
    }
  }
}

/* ========================== Chart ========================== */
.chart {
  &__line {
    width: 100%;
    height: 200px;
  }
  &__btns {
    @extend .datepicker__btns;
  }
}

/* ========================== Tab ========================== */
.tab {
  border-bottom: 1px solid $gray-80;
  margin-bottom: 30px;

  &__menu {
    @include font($font-size: 18);
    padding: 0 40px 20px;
    color: $gray-330;

    &--active {
      @include font($font-size: 18, $font-weight: 600);
      border-bottom: 2px solid $purple-50;
      color: $purple-50;
    }
  }
}

/* ========================== Infinite-scroll ========================== */
.infinite-scroll {
  overflow-y: scroll;

  >div {
    height: 100%;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}