.sidebar {
  @apply flex flex-col justify-between;
  width: 340px;
  height: 100%;
  padding: 34px 0 26px;
  border-right: 1px solid $gray-50;
  box-sizing: border-box;

  &__title {
    @include font($font-size:24, $line-height:33px ,$font-weight:600);
    margin-bottom: 16px;
    text-align: center;
  }

  &__cont {
    position:relative;
    padding: 20px;
    background: $gray-5;
    border-radius: 10px;
    li {
      @apply flex items-center;
      position: relative;
      cursor: pointer;
      & + li {
        margin-top: 10px;
      }
      .sidebar__cont-menu {
        & + .el-tooltip__trigger {
          visibility: hidden;
        }
      }
      &:hover {
        .sidebar__cont-menu {
          & + .el-tooltip__trigger {
            visibility: visible;
          }
        }
      }

    }

    &-btn {
      &--more {
        @apply flex items-center justify-center;
        @include font($font-weight:500);
        width: 100%;
        margin-top: 12px;
        span {
          margin-right: 2px;
        }
      }
    }
    &-wrap {
      overflow-y: auto;
      overflow-x: hidden;
      width: 280px;
      height: 100%;
      padding: 10px 0 0;
      margin: 0 auto 30px;
      ::v-deep(.el-collapse) {
        &.el-collapse-sidebar {
          border:0;
          .el-collapse-item{
            &__header {
              @apply flex justify-between;
              @include font($font-size:16, $font-weight:500, $line-height: 22px);
              height: initial;
              margin-bottom: 10px;
              background: $white;
              border-bottom:0;
              color: $gray-430;
            }
            &__arrow {
              @include icon($name:"arrow-t__line--555", $size: 14px 8px);
              width: 20px;
              height: 20px;
              margin:0;
              transform: rotate(180deg);
              svg {
                visibility: hidden;
              }
              &.is-active {
                transform: rotate(0deg);
              }
            }
            &__wrap {
              padding: 0;
              background: $gray-5;
              border-radius: 10px;
              box-shadow: none;
            }
            &__content {
              padding: 0;
              background: transparent;
              border: none;
            }
          }
        }
      }
    }

    &-header {
      @apply flex justify-between;
      @include font($font-size:16, $font-weight:500);
      margin-bottom: 10px;
      color:$gray-430;
    }

    &-menu {
        @apply flex flex-1;
        // z-index:1;
        padding-left: 30px;
        img {
          position: absolute;
          left:0;
          top:50%;
          transform: translateY(-50%);
        }
        ::v-deep(.custom-input) {
          .custom-input__wrap {
            input {
              color: $gray-330;
            }
          }
        }
      
      &--title {
        @include font($font-size:15,$line-height:21px);
        overflow: hidden;
        width: 189px;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $gray-400;
      }
      &--popover {
        ul {
          li {
            padding-bottom: 12px;
            & + li {
              padding-top: 12px;
              border-top: 1px solid $gray-80;
            }
            &:last-child {
              padding-bottom:0;
            }
          }
        }
      }
    }
  }

  &__btn--shorcut {
    @apply flex items-center justify-between;
    @include font($font-size:16);
    width: 213px;
    padding: 15px 20px;
    margin: 90px auto 0;
    border: 1px solid $gray-80;
    border-radius: 40px;
    color:$gray-430;
  }
}