.action {
  &__cont {
    & + .action__cont {
      margin-top: 30px;
    }

    h3 {
      @include font($font-size:18, $font-weight:500);
      min-width: 300px;
    }
    h4 {
      @include font($font-size:15, $font-weight:500);
    }
  }
  &__box {
    position: relative;
    padding: 54px 64px 23px 30px;
    background: $gray-30;
    border-radius: 6px;
    &-btn {
      position: absolute;
      top: 24px;
      right: 20px;
    }
  }
}