.prompt {
  &__cont {
    & + .prompt__cont {
      margin-top: 40px
    }
    &-wrap {
      @apply flex;
      > div {
        width: 500px;
      }
    }
    &-title {
      @include font($font-size:18, $font-weight:600);
      & + .el-collapse {
        max-width: 500px;
      }
    }
    &-var {
      @apply flex flex-col;
    }
  }

  &__box {
    padding: 20px;
    border-radius: 2px;
    box-sizing: border-box;
    .form {
      & + .form {
        margin-top: 0;
        margin-left: 30px;
      }
      &__label {
        min-width: fit-content;
      }
    }

    &--purple {
      @extend .prompt__box;
      margin-top: 20px;
      background: $purple-1;
      transition: $transition;
      &.is-default {
        border: 1px solid #BEAED3;
        background: #F3EEF9;
      }
      &.is-active {
        border: 2px solid $purple-50;
      }
      .form {
        margin-right: 30px;
        &:last-child {
          margin-right:0;
        }
        & + .form {
          margin-left:0;
        }
      }
    }
    &--gray {
      @extend .prompt__box;
      background: $gray-30;
    }
  }

  .btn__move {
    @include icon($name: move__line--555);
    width: 24px;
    height: 24px;
    margin-left: 10px;
    transition: $transition;
    &--active {
      @extend .btn__move;
      @include icon($name: move__line--9e4);
    }
  }

  &-popup {
    .el-dialog__body {
      overflow-y: hidden;
      height: 100%;
      margin-bottom: 30px;
    }
    &__setting {
      overflow-y: auto;
      width: 100%;
      height: 635px;
    }
    &__result {
      min-width: 470px;
      height: 635px;
      padding-left: 30px;
      margin-left: calc(30px - $scrollbar-width);
      border-left: 1px dashed $gray-90;

      h3 {
        @include font($font-size:16, $font-weight:500);
      }
      li {
        height: calc(50% - 15px);
        + li {
          margin-top: 30px;
        }
      }
      .custom-textarea {
        height: calc(100% - 42px);
        &__wrap {
          height: 100%;
        }
        textarea {
          @apply flex-1;
        }
      }
    }
  }

  :deep(.custom-input) {
    &.no-border {
      input {
        height: unset;
        padding: 0;
        background: transparent;
        border: none;
        color: $gray-400;
      }
    }
  }
}

@media screen and (max-width: 1440px) { 
  .prompt {
    &__cont {
      &-wrap {
        @apply flex-col;
        > div  {
          & + div {
            margin-top: 40px;
          }
        }
      }

      &-var {
        @apply items-start;
        .custom-input {
          margin-left: 0;
        }
        // >div:last-child {
        //   margin: 10px 0 0;
        // }
      }
    }
  }
}